@tailwind base;
@tailwind components;
@tailwind utilities;

.index {
  background-color: #000235;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.index .div {
  background-color: #000235;
  border: 1px none;
  height: 7890px;
  overflow: hidden;
  position: relative;
  width: 1442px;
}

.index .frame {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 10px;
  left: 145px;
  position: absolute;
  top: 75px;
  width: fit-content;
}

.index .navbar {
  height: 123px;
  margin-right: -2px;
  min-width: 357px;
  position: relative;
}

.index .text-wrapper {
  color: #ffffff;
  font-family: "Inknut Antiqua", Helvetica;
  font-size: 48px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 355px;
}

.index .contact {
  height: 18px;
  left: 1199px;
  position: absolute;
  top: 89px;
  width: 98px;
}

.index .list {
  height: 435px;
  left: 940px;
  object-fit: cover;
  position: absolute;
  top: 294px;
  width: 410px;
}

.index .your-personalized {
  height: 396px;
  left: 146px;
  position: absolute;
  top: 239px;
  width: 677px;
}

.index .p {
  color: #ffffff;
  font-family: "Roboto", Helvetica;
  font-size: 36px;
  font-weight: 300;
  left: 145px;
  letter-spacing: 0;
  line-height: 39.4px;
  position: absolute;
  top: 687px;
  width: 792px;
}

.index .div-wrapper {
  align-items: center;
  border: 1px solid;
  border-color: #34aee5;
  border-radius: 112px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 95px;
  left: 294px;
  overflow: hidden;
  padding: 20px 41px;
  position: absolute;
  top: 884px;
  width: 319px;
}

.index .text-wrapper-2 {
  color: #ffffff;
  font-family: "Outfit", Helvetica;
  font-size: 36px;
  font-weight: 600;
  letter-spacing: 0.72px;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: fit-content;
}

.index .img {
  height: 95px;
  left: 186px;
  position: absolute;
  top: 1355px;
  width: 1052px;
}

.index .frame-2 {
  height: 156px;
  left: 483px;
  position: absolute;
  top: 2393px;
  width: 475px;
}

.index .frame-3 {
  height: 114px;
  left: 519px;
  position: absolute;
  top: 2211px;
  width: 400px;
}

.index .overlap-group {
  height: 128px;
  left: 149px;
  position: absolute;
  top: 1541px;
  width: 1122px;
}

.index .frame-4 {
  height: 82px;
  left: 0;
  position: absolute;
  top: 18px;
  width: 520px;
}

.index .frame-5 {
  background-color: #d9d9d9;
  border-radius: 23px;
  height: 86px;
  left: 12px;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 533px;
}

.index .text-wrapper-3 {
  color: #000000;
  font-family: "Outfit", Helvetica;
  font-size: 48px;
  font-weight: 400;
  left: 82px;
  letter-spacing: 0;
  line-height: 54.5px;
  position: absolute;
  top: 16px;
  white-space: nowrap;
  width: 370px;
}

.index .frame-6 {
  height: 82px;
  left: 466px;
  position: absolute;
  top: 46px;
  width: 520px;
}

.index .frame-7 {
  background-color: #d9d9d9;
  border-radius: 23px;
  height: 86px;
  left: 587px;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 535px;
}

.index .text-wrapper-4 {
  color: #000000;
  font-family: "Outfit", Helvetica;
  font-size: 48px;
  font-weight: 400;
  left: 82px;
  letter-spacing: 0;
  line-height: 54.5px;
  position: absolute;
  top: 16px;
  white-space: nowrap;
  width: 440px;
}

.index .frame-8 {
  height: 86px;
  left: 149px;
  position: absolute;
  top: 1690px;
  width: 545px;
  display: flex;
  align-items: center;
  z-index: 1;
}

.index .frame-9 {
  background-color: #d9d9d9;
  border-radius: 23px;
  height: 86px;
  left: 736px;
  overflow: hidden;
  position: absolute;
  top: 1688px;
  width: 535px;
}

.index .text-wrapper-5 {
  color: #000000;
  font-family: "Outfit", Helvetica;
  font-size: 48px;
  font-weight: 400;
  left: 82px;
  letter-spacing: 0;
  line-height: 54.5px;
  position: absolute;
  top: 16px;
  white-space: nowrap;
  width: 440px;
}

.index .add-your-own-wrapper {
  background-color: #d9d9d9;
  border-radius: 23px;
  height: 86px;
  left: 736px;
  overflow: hidden;
  position: absolute;
  top: 1835px;
  width: 535px;
}

.index .add-your-own {
  color: #000000;
  font-family: "Outfit", Helvetica;
  font-size: 64px;
  font-weight: 400;
  left: 68px;
  letter-spacing: 0;
  line-height: 72.6px;
  position: absolute;
  top: -1px;
  white-space: nowrap;
  width: 442px;
}

.index .span {
  color: #000000;
  font-family: "Outfit", Helvetica;
  font-size: 64px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 72.6px;
}

.index .text-wrapper-6 {
  font-size: 48px;
  line-height: 54.5px;
}

.index .frame-10 {
  height: 86px;
  left: 161px;
  position: absolute;
  top: 1834px;
  width: 533px;
}

.index .overlap {
  height: 1141px;
  left: 179px;
  position: absolute;
  top: 4950px;
  width: 1084px;
}

.index .frame-11 {
  align-items: flex-start;
  background-color: #d9d9d9;
  border-radius: 28px;
  display: flex;
  gap: 10px;
  height: 141px;
  left: 0;
  overflow: hidden;
  padding: 40px 66px;
  position: absolute;
  top: 0;
  width: fit-content;
}

.index .text-wrapper-7 {
  color: #000000;
  font-family: "Outfit", Helvetica;
  font-size: 48px;
  font-weight: 700;
  letter-spacing: 0.96px;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: fit-content;
}

.index .rectangle {
  background-color: #ffffff;
  border-radius: 32px;
  height: 886px;
  left: 43px;
  position: absolute;
  top: 183px;
  width: 1002px;
}

.index .intelli-syllabi {
  color: #000000;
  font-family: "Outfit", Helvetica;
  font-size: 28px;
  font-weight: 700;
  left: 69px;
  letter-spacing: 0;
  line-height: 58.9px;
  position: absolute;
  text-align: center;
  top: 273px;
  width: 949px;
}

.index .overlap-2 {
  height: 1267px;
  left: 179px;
  position: absolute;
  top: 6495px;
  width: 1084px;
}

.index .frame-12 {
  align-items: flex-start;
  background-color: #d9d9d9;
  border-radius: 28px;
  display: flex;
  gap: 10px;
  height: 139px;
  left: 0;
  overflow: hidden;
  padding: 35px 66px 40px;
  position: absolute;
  top: 0;
  width: 346px;
}

.index .text-wrapper-8 {
  color: #000000;
  font-family: "Outfit", Helvetica;
  font-size: 48px;
  font-weight: 700;
  letter-spacing: 0.96px;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: fit-content;
}

.index .rectangle-2 {
  background-color: #ffffff;
  border-radius: 32px;
  height: 897px;
  left: 47px;
  position: absolute;
  top: 207px;
  width: 1004px;
}

.index .text-wrapper-9 {
  color: #cdcbcb;
  font-family: "Outfit", Helvetica;
  font-size: 40px;
  font-weight: 700;
  left: 133px;
  letter-spacing: 0.8px;
  line-height: normal;
  position: absolute;
  top: 302px;
  width: 425px;
}

.index .rectangle-3 {
  background-color: #d9d9d9;
  border-radius: 12px;
  height: 518px;
  left: 133px;
  position: absolute;
  top: 515px;
  width: 832px;
}

.index .text-wrapper-10 {
  color: #000000;
  font-family: "Roboto", Helvetica;
  font-size: 24px;
  font-weight: 900;
  left: 133px;
  letter-spacing: 0.48px;
  line-height: normal;
  position: absolute;
  top: 449px;
  white-space: nowrap;
}

.index .rectangle-4 {
  background-color: #ffffff;
  border-radius: 28px;
  height: 56px;
  left: 758px;
  position: absolute;
  top: 1152px;
  width: 207px;
}

.index .text-wrapper-11 {
  color: #000000;
  font-family: "Roboto", Helvetica;
  font-size: 32px;
  font-weight: 900;
  left: 824px;
  letter-spacing: 0.64px;
  line-height: normal;
  position: absolute;
  top: 1160px;
  white-space: nowrap;
}

.index .rectangle-5 {
  background-color: #ffffff;
  border-radius: 86px;
  height: 2050px;
  left: -1111px;
  position: absolute;
  top: 2714px;
  width: 3667px;
}

.index .image-container {
  position: relative;
}

.index .checkmark-container {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translate(-50%, -50%);

}